<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OsmSharp.Data.SQLServer.Test.Functional.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OsmSharp.Data.SQLServer.Test.Functional.Properties.Settings>
            <setting name="BelgiumPBFUrl" serializeAs="String">
                <value>ftp://build.osmsharp.com/data/OSM/planet/europe/belgium-latest.osm.pbf</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=DESKTOP-K3IOMIF\SQLEXPRESS;Database=osmsharp;User Id=osmsharp;Password=osmsharp;</value>
            </setting>
        </OsmSharp.Data.SQLServer.Test.Functional.Properties.Settings>
    </userSettings>
</configuration>